<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Registrarse como:</h2>
        <br>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="btn-group special" role="group" data-toggle="buttons">
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="button" aria-pressed="false" (click)="showFotografo()">Fotografo </button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="button" aria-pressed="false" (click)="showCliente()">Cliente</button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="button" aria-pressed="false" (click)="showOrganizador()">Organizador</button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="button" aria-pressed="false" (click)="showJurado()">Jurado</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
            <app-fotografo-create  *ngIf="bshowFotografo" (create)="signUp($event)"></app-fotografo-create>
            <app-cliente-create (create)="signUp($event)" *ngIf="bshowCliente" ></app-cliente-create>
            <app-organizador-create (create)="signUp($event)" *ngIf="bshowOrganizador" ></app-organizador-create>
            <app-jurado-create (create)="signUp($event)" *ngIf="bshowJurado" ></app-jurado-create>
    </div>
</div>
<div class="row">
    <div class="col">
            <button type="button" class="btn btn-dark btn-lg" data-toggle="button" aria-pressed="false" (click)="createAdministrador()">Administrador</button>
    </div>
</div>

