<div *ngIf="!showBuy">
        <div class='partearriba'>
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Carrito de compras
                <a (click)="showBuyCarrito2()" class="btn btn-outline-info btn-sm pull-right">Abrir</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<div *ngIf="showBuy">
    <div class='partearriba'>
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Carrito de compras
            <a (click)="showBuyCarrito2()" class="btn btn-outline-info btn-sm pull-right">Cerrar</a>
            <div class="clearfix"></div>
        </div>
        <shoppingCart-component></shoppingCart-component>
    </div>
</div>
<div class="pin-layout">
    <div class="thumbnail">
        <br>
        <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['FOTOGRAFO']">
            <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Subir mi
                foto
            </button>
        </div>
        <br>
        <div class="col-md-8">
            <div *ngIf="showCreate">
                <app-photo-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate">
                </app-photo-create>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div *ngIf="showEdit">
        <app-photo-edit [photo_edit]="photo_edit_id" (cancel)="showHideEdit(photo_edit_id)" (update)="updatePhoto()">
        </app-photo-edit>
    </div>
</div>

<section id="portfolio">
    <div class="project" *ngFor="let photo of photos">
        <img class="project__image" src='{{photo.rutaFoto}}' src='{{photo.rutaFoto}}' />
        <p>{{photo.nombre}}</p>
        <h3 class="grid__title"> ${{photo.price}}</h3>
        <div class="grid__overlay">
            <button class="viewbutton" routerLink="/photos/{{photo.id}}">View</button>
            <button class="viewbutton" (click)="showHideEdit(photo.id)" *ngxPermissionsOnly="['FOTOGRAFO']">Edit</button>
            <div class="">
                <button class="animacioncarrito" (click)="addToCart(photo);showBuyCarrito()">Al carrito!</button>
            </div>
        </div>
    </div>
</section>