<div class = "container-fluid">
    <p>
  
      <button type="button" class="btn btn-lg btn-light align-self-center" [ngClass]="{ 'btn-light': isCollapsed,'btn-outline-secondary':!isCollapsed, 'disabled': disabledFac}" (click)="getClienteFacturas()">
        Mis Facturas
    </button>
  </p>
  
  <div id="collapseFacturas" [ngbCollapse]="isCollapsed">

      <div class="pin-layout">
          <div class="thumbnail">
              <br>
            <style>
              table, th, td{
                width:100%; 
                border: 1px solid black;
                border-collapse: collapse;
                align-self: center;
              }
              th, td {
                padding: 15px;
                background-color:rgb(247, 247, 247);
              }
            </style>
            <table >
                <thead>
                    <tr>
                        <th style="background-color:rgba(164, 210, 255, 0.877); text-align: center" class="caption">Factura</th>    
                    </tr>
                </thead>
              <tbody>
                <tr *ngFor = "let factura of facturas">
                    <td style="cursor: pointer;"> 
                        <dd style="text-align: center;" routerLink="/facturas/{{factura.id}}" >{{factura.numero}}</dd>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="showHideEdit(factura.id)"><span class="fa fa-pencil"></span></button>
                    </td>
                </tr>
            </tbody>
          </table>
          </div>
      </div>
            
        
       
  </div>
  </div>