<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <br>
      <h2 class="text-center">Create an organizador</h2>
      <br>
      <form name="organizador" (ngSubmit)="f.form.valid && createOrganizador()" #f="ngForm" novalidate>
          <div class="form-group">
              <label for="organizadorName"><b>Name</b></label>
              <input type="text" name="organizadorName" class="form-control" id="organizadorName" [(ngModel)]="organizador.nombre"
                  #organizadorName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && organizadorName.invalid }" required>
              <div class="invalid-feedback">
                  <div>The organizador's name is missing</div>
              </div>
          </div>
          <div class="form-group">
            <label for="organizadorEdad"><b>Edad</b></label>
            <textarea name="organizadorEdad" class="form-control" id="organizadorEdad" [(ngModel)]="organizador.edad"
                #organizadorEdad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && organizadorEdad.invalid }"
                required></textarea>
            <div class="invalid-feedback">
                <div>The organizador's edad is missing</div>
            </div>
        </div>
          <div class="form-group">
              <label for="organizadorPais"><b>Pais</b></label>
              <textarea name="organizadorPais" class="form-control" id="organizadorPais" [(ngModel)]="organizador.pais"
                  #organizadorPais="ngModel" [ngClass]="{ 'is-invalid': f.submitted && organizadorPais.invalid }"
                  required></textarea>
              <div class="invalid-feedback">
                  <div>The organizador's pais is missing</div>
              </div>
          </div>
          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
          </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>