<div class = "container-fluid w-50">

  <table class = "table table-stripped">
    <thead>
      <tr class="table-info">
        <th class = "text-center">
        </th>
      </tr>
    </thead>

  </table>

  <div class="card ">
    <img src="{{clienteDetail.image}}" class="card-img-top" alt="Profile Picture">
    <div class="card-body">
      <h3 class="card-title text-center">{{clienteDetail.nombre}}</h3>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Login: {{clienteDetail.login}}</li>
      <li class="list-group-item">Correo: {{clienteDetail.correo}}</li>
    </ul>
    <div class="card-body view overlay" style="cursor: pointer " >
      <a class="card-link text-center align-items-center d-flex nav-link-active" routerLinkActive="active"> Formas de Pago <div class="divider col-6"></div>  <img src = "https://www.peoplesbanknet.com/content/uploads/2018/04/creditcard-flat.png" class="img-fluid" alt="Responsive image" height="52" width="52" class="rounded float-right" alt="..."> </a>
    </div>
  </div>

</div>
