<div class="row">
  <div >
      <br>
      <h2 class="text-center">Editar Forma De Pago</h2>
      <br>
      <form name="formaDePago" (ngSubmit)="f.form.valid && createFormaDePago()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="numeroTarjeta">Numero Tarjeta</label>
          <input type="text" name="numeroTarjeta" class="form-control" id="numeroTarjeta"  [(ngModel)]="formaDePago.numeroTarjeta"
                  #numeroTarjeta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numeroTarjeta.invalid }" required>
                   <div class="invalid-feedback">
                  <div>No se ingreso numero de la tarjeta</div>
                  </div>
  
        </div>


        <div class="form-group">
          <label for="numeroTarjeta">Numero de verificacion</label>
          <input type="password" name="numeroVerificacion" class="form-control" id="numeroVerificacion"  [(ngModel)]="formaDePago.numeroVerificacion"
                  #numeroVerificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numeroVerificacion.invalid }" required>
                   <div class="invalid-feedback">
                  <div>No se ingreso numero de verificacion</div>
                  </div>
  
        </div>

        <div class="form-group">
          <label for="fechaVencimiento"><b>Fecha de Vencimiento</b></label>
          <div [ngClass]="{ 'is-invalid': f.submitted && fechaVencimiento.invalid }">
              <input class="form-control" id="fechaVencimiento" name="fechaVencimiento" [(ngModel)]="formaDePago.fechaVencimiento"
                  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" #fechaVencimiento="ngModel"
                  required  > 
                  
              <div class="invalid-feedback">
                  <div>No se agrego la fecha de vencimiento</div>
              </div>
          </div>
      </div>    
  
      <div class="form-group">
        <label for="tipoTarjeta">Tipo de tarjeta</label>
        <select name="tipoDeTarjeta" class="form-control" id="tipoDeTarjeta"   [(ngModel)]="formaDePago.tipoDeTarjeta"
        #tipoDeTarjeta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoDeTarjeta.invalid }"  (onchange)="yesnoCheck(this);"required>
          <option value="Tarjeta Debito">Tarjeta Debito</option>
          <option value="Tarjeta Credito">Tarjeta Credito</option>
        </select>
        <div class="invalid-feedback">
          <div>No se ingreso el tipo de tarjeta</div>
          </div>

      </div>

      <div class="form-group">
        <label for="tipoTarjetaDeCredito">Tipo de tarjeta de credito</label>
        <select name="tipoTarjetaDeCredito" class="form-control" id="tipoTarjetaDeCredito"[(ngModel)]="formaDePago.tipoTarjetaDeCredito"
        #tipoTarjetaDeCredito="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoTarjetaDeCredito.invalid }">
          <option value="VISA">VISA</option>
          <option value="MASTERCARD">MASTERCARD</option>
        </select>
        

      </div>
      <div class="row">
        <div class="col-12">
            <div class="row form-inline justify-content-center align-self-center">
                <button class="btn btn-primary" style="padding-right: 3em; background: rgb(127, 161, 255)" (click)="editFormaDePago()"> <span class="fa fa-save "></span> &nbsp; Guardar</button>
                &nbsp;
                <button  class="btn btn-primary" style="padding-right: 3em; background: rgb(250, 84, 84)" (click)="cancelEdition()"> <span class="fa fa-ban"></span> Cancelar</button>
            </div>
        </div>
      </div>
        
      </form>
  </div>
  <div class="col-3"></div>
</div>