<div class="panel-body">
    <div class="border margin">
        <p style="background-color:rgba(164, 210, 255, 0.877); text-align: center" class="h3 p-3">{{juradoDetail.nombre}}<p> 
        <div class="row">
            <div class="col">
                <dl>     
                    <dt style="background-color:rgb(247, 247, 247); text-align: center">Apellido</dt>
                    <dd style="background-color:rgb(247, 247, 247); text-align: center">{{juradoDetail.apellido}}</dd>
                    <dt style="background-color:rgb(247, 247, 247); text-align: center">Correo</dt>
                    <dd style="background-color:rgb(247, 247, 247); text-align: center">{{juradoDetail.correo}}</dd>
                    <dt style="background-color:rgb(247, 247, 247); text-align: center">Cedula</dt>
                    <dd style="background-color:rgb(247, 247, 247); text-align: center">{{juradoDetail.cedula}}</dd>
                    <dt style="background-color:rgb(247, 247, 247); text-align: center">País</dt>
                    <dd style="background-color:rgb(247, 247, 247); text-align: center">{{juradoDetail.pais}}</dd>
                    <dt style="background-color:rgb(247, 247, 247); text-align: center">Ciudad</dt>
                    <dd style="background-color:rgb(247, 247, 247); text-align: center">{{juradoDetail.ciudad}}</dd>
                </dl>
            </div>
  
        </div>
    </div>
  </div>