<div class="conatiner">
    <div class="wrap">
      

      <div class="box one" *ngFor = "let interes of intereses" [ngStyle]="{'background-image':' url(' + interes.foto + ')'}" routerLink="/interesFotograficos/{{interes.id}}">
        <style>
          .one {
      background-size: cover;
      background-position: center;
    }
        </style> 


        <div class="date">
        </div>
        <h1>{{interes.interes}}</h1>
      
      </div>
      
      
      
    </div>

    <div *ngIf="interesFotograficoDetail">
        <app-interes-fotografico-detail [interesFotograficoDetail]="interesFotograficoDetail"></app-interes-fotografico-detail>
      </div>
    </div>
    
    