<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Picty inc</strong>
                        <br>
                        Universidad de los Andes, Bogota
                        <br>
                        <abbr title="Phone">P:</abbr> (320) 275-1899
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Fecha: {{facturaDetail.fechaCompra}}</em>
                    </p>
                    <p>
                        <em>Receipt #: {{facturaDetail.numero}}</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Recibo</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Fecha</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em>Foto</em></td>
                            <td class="col-md-1" style="text-align: center"> {{facturaDetail.fechaCompra}} </td>
                            <td class="col-md-1 text-center">${{facturaDetail.precio}}</td>
                            <td class="col-md-1 text-center">1</td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Impuestos (17%): </strong>
                                </p>
                            </td>
                            <td class="text-center">
                                <p>
                                    <strong>${{facturaDetail.precio}}</strong>
                                </p>
                                <p>
                                    <strong>${{facturaDetail.precio * 0.17}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                                <h4><strong>Total: </strong></h4>
                            </td>
                            <td class="text-center text-danger">
                                <h4><strong>${{facturaDetail.precio * 0.17 + facturaDetail.precio}}</strong></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="project" *ngFor="let photo of facturaDetail.photos">
    <img class="project__image" src='{{photo.rutaFoto}}' src='{{photo.rutaFoto}}' />
    <p>{{photo.nombre}}</p>
    <h3 class="grid__title"> ${{photo.price}}</h3>
    <div class="grid__overlay">
        <button class="viewbutton" routerLink="/photos/{{photo.id}}">View</button>
        <button class="viewbutton" (click)="showHideEdit(photo.id)">Edit</button>
        <div class="">
            <button class="animacioncarrito" (click)="addToCart(photo);showBuyCarrito()">Al carrito!</button>
        </div>
    </div>
</div>