<div class="panel-body">
  <div class="border margin">
      <p style="background-color:rgba(164, 210, 255, 0.877); text-align: center" class="h3 p-3">Rondas<p> 
      <div class="row">
          <div class="col">
              <dl>     
                  <dt style="background-color:rgb(247, 247, 247); text-align: center">Numero Ronda</dt>
                  <dd style="background-color:rgb(247, 247, 247); text-align: center">{{rondaDetail.numRonda}}</dd>
              </dl>
          </div>

      </div>
  </div>
</div>