

    <style>
        @import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
        </style>


<div class="interesFotograficoNombre"><b>#{{interesFotograficoDetail.interes}}</b>
  </div>


  


      <div class="conatiner">
        <div class="wrap">
          
    
          <div class="box one" *ngFor = "let photo of interesFotograficoDetail.fotosInteres" [ngStyle]="{'background-image':' url(' + photo.rutaFoto+ ')'}" routerLink="/photos/{{photo.id}}">
            <style>
              .one {
          background-size: cover;
          background-position: center;
        }
            </style> 
    
           
          </div>
          
        
  
        </div>
  
        <div class="row justify-content-center align-self-center">
          <button [ngClass]="{ 'btn-danger': !verif, 'btn-primary': verif }" type="button" class="btn" routerLink="/interesFotograficos/list" onclick = "return confirm ('¿Estas seguro que desea eliminar este Interes Fotografico?')"   (click) = "delete()" >Eliminar interes fotografico</button>
        </div>

        </div>
