<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">{{organizadorDetail.nombre}}<p> 
      <img src="{{organizadorDetail.foto}}">
      <div class="row">
          <div class="col">
              <dl>     
                  <dt>Edad</dt>
                  <dd>{{organizadorDetail.edad}}</dd>
                  <dt>Telefono</dt>
                  <dd>{{organizadorDetail.telefono}}</dd>
                  <dt>Pais</dt>
                  <dd>{{organizadorDetail.pais}}</dd>
                  <dt>Concursos: </dt>
                  <div *ngFor = "let concurso of organizadorDetail.concursos">
                        <dd class="caption" routerLink="/concursos/{{concurso.id}}" style="cursor: pointer;">{{concurso.tema}}</dd>
                </div>
              </dl>
          </div>
          <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }"  type="button" class="btn"
                    (click)="showHideCreate()">Crear concurso</button>
         </div>
            <br>
            <div class="col-md-8" >
                <div *ngIf="showCreate">
                    <app-concurso-create (cancel)= "showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-concurso-create>
                </div>
        </div>
  </div>
  <div >
        <tr *ngFor = "let organizador of organizadors">
                <td style="cursor: pointer;"> 
                    <dd style="text-align: center;" routerLink="/organizadors/{{organizador.id}}" ><img src="{{organizador.foto}}"/></dd>
                </td>
               
            </tr>
     
</div>
</div>
