<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">{{organizadorDetail.nombre}}<p> 
      <div class="row">
          <div class="col">
              <dl>     
                  <dt>Edad</dt>
                  <dd>{{organizadorDetail.edad}}</dd>
                  <dt>Telefono</dt>
                  <dd>{{organizadorDetail.telefono}}</dd>
                  <dt>Pais</dt>
                  <dd>{{organizadorDetail.pais}}</dd>
              </dl>
          </div>
  </div>
</div>
