<div class="row">
  <div class="container-fluid">
      
        <table class = "table table-hover">
          <thead class="thead-dark">
            <tr>
              <th style="background-color:rgba(164, 210, 255, 0.877); text-align: center" class="text-center">Clientes</th>
            </tr>
          </thead>
          <tbody>
            
                <tr *ngFor = "let c of clientes"  class="list-group-item-action">
                <div>
  
                  <h5 style="cursor: pointer" class="text-center" (click)="onSelected(c.id)">{{c.login}} <img src={{c.image}} class="img-fluid" alt="Responsive image" height="62" width="62" ></h5>
                  <hr>
                </div>
              </tr>
            
          </tbody>
        </table>
  
  </div>
  
  <div class="container-fluid">
    <div *ngIf="selected">
        <app-cliente-detail [clienteDetail]="selected"></app-cliente-detail>
      </div>
  </div>
  </div>
  