<div>
    <img src="{{photoDetail.rutaFoto}}" class="fotoFondo">
    <div class="top">
      <dt> Descripcion</dt>
      <dd>{{photoDetail.description}}</dd>
      <hr>
      <dt>Fecha</dt>
      <dd>{{photoDetail.date| date:'yyyy-MM-dd'}}</dd>
      <hr>
      <dt>Precio</dt>
      <dd>{{photoDetail.price}}</dd>
      <hr>
    </div>
    <br>
    <div style= "justify-content: flex-start;" class="col-md-8">
            <app-photo-calificaciones [photoCalificaciones]="photoDetail.calification"></app-photo-calificaciones>
            <br>
            <div class="row justify-content-center align-self-center" >
                <td *ngxPermissionsOnly="['JURADO', 'CLIENT']">
                    <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                        (click)="showHideCreate()">Comentario</button>
                </td>    
                </div>
        <div *ngIf="showCreate">
          <td *ngxPermissionsOnly="['JURADO','CLIENT']">
            <app-photo-add-calificacion  [photo]="photoDetail" (updateCalificaciones)="updateCalificaciones()" (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate" ></app-photo-add-calificacion>
          </td>
          </div>
    </div>
  </div>