<div >
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar Informacion</h2>
        <br>
        <form name="cliente" (ngSubmit)="f.form.valid && editCliente()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="clienteCorreo"><b>Correo Electronico</b></label>
                  <input type="text" name="clienteCorreo" class="form-control" id="clienteCorreo" [(ngModel)]="cliente.correo"
                         #clienteCorreo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteCorreo.invalid }" required>
                         <div class="invalid-feedback">
                      <div>Falta ingresar el correo</div>
                  </div>
  
                  <div class="form-group">
                    <label for="clienteContrasena"><b>Contraseña</b></label>
                    <input type="text" name="clienteContrasena" class="form-control" id="clienteContrasena" [(ngModel)]="cliente.contrasena"
                           #clienteContrasena="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteContrasena.invalid }" required>
                           <div class="invalid-feedback">
                        <div>Falta ingresar la contraseña</div>
                    </div>
  
                    <div class="form-group">
                      <label for="clienteNombre"><b>Nombre</b></label>
                      <input type="text" name="clienteNombre" class="form-control" id="clienteNombre" [(ngModel)]="cliente.nombre"
                             #clienteNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteNombre.invalid }" required>
                             <div class="invalid-feedback">
                          <div>Falta ingresar el nombre</div>
                      </div>

                      <div class="form-group">
                          <label for="clienteImagen"><b>Ruta de foto de perfil</b></label>
                          <input type="text" name="clienteImagen" class="form-control" id="clienteImagen" [(ngModel)]="cliente.imagen"
                                 #clienteImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteImagen.invalid }" required>
                                 <div class="invalid-feedback">
                              <div>Falta ingresar la ruta de la imagen</div>
                          </div>
                        
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <button class="btn btn-primary" style="padding-right: 3em; background: rgb(127, 161, 255)" (click)="editCliente()"> <span class="fa fa-save "></span> &nbsp; Guardar</button>
            &nbsp;
            <button  class="btn btn-primary" style="padding-right: 3em; background: rgb(250, 84, 84)" (click)="cancelEdition()"> <span class="fa fa-ban"></span> Cancelar</button>
        </div>
    </div>
  </div>
  <br>
  <br>