<div class="container-fluid">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Editorial Name</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let concurso of concursos">
                    <td> <dd class="figure-caption" routerLink="/concursos/{{concurso.id}}"  > {{concurso.tema}}</dd> </td>  
                </tr>
            </tbody>
                <app-concurso-create></app-concurso-create>
        </table>
    </div>
</div>