<style>
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
    </style>

<div class = "container-fluid">
<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby = "deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Esta seguro que desea eliminar la cuenta con login <b>{{clienteDetail.login}}</b> ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteCliente(clienteDetail)" data-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
</div>
</div>