<div >

    <p>
  
      <button type="button" class="btn-primary" (click)="getFotografosInteresesFotograficos()">
      Mis intereses fotograficos
    </button>
  </p>
  
  <div id="collapseInteresFotograficos">
      <table class = "table table-hover">
         
          <tbody>
              
              <tr *ngFor = "let fdp of intereseFotografico"  class="list-group-item-action">
              <div>

                <h5 style="cursor: pointer" class="text-center" >{{fdp.interes}}</h5>
                <hr>
              </div>
            </tr>
          
        </tbody>
        </table>
  </div>
  </div>
